.task{
    border: 2px solid var(--primary-color);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.icons{
    display: flex;
    gap: 20px;
}